
img {
  width: 10rem;
}
.card{

}

.container{
  background-color: antiquewhite;
  width: 90%;
  display: flex;
  margin: 0 auto;
  padding: 10px 0;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}